@tailwind base;
@tailwind components;
@tailwind utilities;

.header__layout {
  @apply p-4 flex items-center justify-between bg-gray-50 shadow drop-shadow-md sticky top-0;
}

.header__link {
  @apply p-2 rounded-md text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform;
}

.footer__layout {
  @apply mt-[700px] px-6 py-4 border-t-4 border-[#43AA8B] flex items-center justify-between bg-gray-700 text-white;
}