<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header__layout {
  @apply p-4 flex items-center justify-between bg-gray-50 shadow drop-shadow-md sticky top-0 z-10;
}

.header__link {
  @apply p-2 rounded-md text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform;
}

.footer__layout {
  @apply px-6 py-4 border-t-4 border-[#43AA8B] flex items-center justify-between bg-gray-700 text-white;
}
@layer base{
 

}

=======
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header__layout {
  @apply p-4 flex items-center justify-between bg-gray-50 shadow drop-shadow-md sticky top-0 z-10;
}

.header__link {
  @apply p-2 rounded-md text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform;
}

.footer__layout {
  @apply px-6 py-4 border-t-4 border-[#43AA8B] flex items-center justify-between bg-gray-700 text-white;
}
@layer base{
 

}

>>>>>>> c992ed9d32f8d5b9e4cc7af5b82ac93bfe171441
